!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title ２０字リレー小説
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -# %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity: "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin: "anonymous"}
    -# %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity: "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin: "anonymous"}
    -# %script{src: "https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity: "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin: "anonymous"}
    -# %script{src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity: "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin: "anonymous"}
  %body
  - if user_signed_in?
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{href:"/"}２０字リレー小説
      %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#navbarNav"}, aria: {controls: "navbarNav", expanded: "false", label: "Toggle navigation"}}
        %span.navbar-toggler-icon
      %div#navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item.active
            %a.nav-link{href: "/users/#{current_user.id}"}
              #{current_user.name}のページ 
              %span.sr-only(current)
          %li.nav-item
            = link_to "ログイン情報の変更", edit_user_registration_path(current_user), class: "nav-link"
          %li.nav-item
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"
  - else
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{href:"/"}２０字リレー小説
      %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#navbarNav"}, aria: {controls: "navbarNav", expanded: "false", label: "Toggle navigation"}}
        %span.navbar-toggler-icon
      %div#navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            = link_to "新規登録", new_user_registration_path, class: "nav-link"
          %li.nav-item
            = link_to "ログイン", new_user_session_path, class: "nav-link"
  = yield